<!-- 
step-0-init setup
  - start a basic HTML Hello World template, title and paragraph. No angularjs yet.
  - refer http://docs.angularjs.org/guide/concepts for note
step-1-startup
	- add ng-app to html tag to set boundary of angularjs
	- add reference to angularjs script library in head tag
	- add ng-init in paragraph to initialize some expressions, in here, we set name variable with value 'World'
step-2-runtime 
	- use the value from input tag as ng-model, the value is called "name"
	- part of the p-tag value "name" is linked to the ng-model. It observes/syncs the model. 
step-3-scope: Because the different scope, same variable name may have different values.
	- we added a js file called script.js, which defines two controllers.
	- we have ng-controller="GreetCtrl" in one <div>, and ng-controller="ListCtrl" in the other <div>, they are different scopes. The variable "name" refers to diiferent values.
	- To make display/view more specific for different scopes, we use red color border for different scopes.
step-4-controller
	- A controller construct model and publish it to view along with callback methods. 
	- The view is a projection of the scope onto the template. In the later part of guide, it [defines scope](http://docs.angularjs.org/guide/scope) "scope is an object that refers to the application model. It is an execution context for expressions. Scopes are arranged in hierarchical structure which mimic the DOM structure of the application. Scopes can watch expressions and propagate events." scope is defined in js.
	- HTML sets up the template of webpage, Controller provides the value and behavior of the elements. Scope provides the context.
step-5-model
	- There is no code change in document. Model is data, which can merge with HTML to create view. 
step-6-view
	- angularjs's directives provide links to controllers, which have scope (data-model) for different values for different keys. 
	- view observes the model. In this example, data-model is created via ng-init.

-->

<!doctype html>
<html ng-app>
	<head>
		<script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
	</head>
	<body>
		<div ng-init="list = ['Chrome', 'Safari', 'Firefox', 'IE']">
			<input ng-model="list" ng-list><br> 
			<input ng-model="list" ng-list><br> 
			<pre>list={{list}}</pre><br>
			<ol>
				<li ng-repeat="item in list">
					{{item}}
				</li>
			</ol>			
		</div>
	</body>
</html>